@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@100..900&family=Julius+Sans+One);

html {
    scroll-padding-top: 2.5rem;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
body {

    font-family: 'Spartan', sans-serif;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
  }
  
h2,
h3,
h4,
h5,
h6 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: "Julius Sans One", sans-serif;
  }

  #title {
    font-family: "Julius Sans One", sans-serif;
  }

  #heroe-image {
    background-image: url(../images/heroe-img.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;

    text-align: center;

  }

  #search {
    margin-top: 3rem;
  }

  #search-btn{
    background-color: transparent;
    color: #ed1d24;
    font-weight: 500;
    border-radius: 1rem;
    border-color: #ed1d24;
  }

  #search-btn:hover {
    background-color: #ed1d24;
    color: #ffffff;
    font-weight: 300;
    border-radius: 1rem;
    border-color: #ffffff;
    border-width: thin;
  }

  #search-input {
    background-color: rgba(237, 29, 36, 0.9);
    color: #ffffff;
    font-weight: 300;
    border-radius: 1rem;
    border-style: hidden;
    width: 100%;
    margin-bottom: 1rem;
  }

  #result {
    background-color: #000000;
    min-height: 10vh;
    color: #ffffff;
  }